* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #C4C4C4;
    background-image: url("https://media.cntraveler.com/photos/56549cc6659c4b4874865502/master/pass/mu-cang-chai-vietnam-cr-getty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body,
html {
    height: 100%;
}

.reagent-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-left: -188px;
    margin-top: -269px; */
    max-width: 376px;
    height: 538px;
    background-color: #505050;
    color: white;
    /* margin: 0 auto; */
    border-radius: 0.3em;
    margin: 0;
}

.home,
.close-button {
    display: inline;
}

.home {
    position: relative;
    left: 5%;
}

.close-button {
    position: relative;
    left: 80%;
}

main {
    display: block;
    margin: 0 auto;
    width: 95%;
    height: 94%;
    background-color: black;
}

main header {
    background-color: red;
}

main>header a>img#reagentLogo {
    width: 80px;
    height: auto;
    display: inline-block;
}

main header h1 {
    display: inline-block;
}